#createRecipesLayout{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

#createRecipesPageTitle{
    padding: 0;
    margin: 0;
    color: white;
    font-size: 3rem;
    line-height: 84px;
    letter-spacing: 2px;
    text-align: center;
}

#createRecipesPageTitleDiv{
    width: 100%;
    height:300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#createRecipesStatusBar{
    width: 100%;
    height: fit-content;
}

#createRecipesFormDiv{
    width: 100%;
    height: 500px;
}

#createRecipesCenterForm{
    width: 50%;
    height: fit-content;
    margin: auto;
    border: 5px solid var(--main-accent-color);
    border-radius: 35px;
    box-shadow: 0 8px 20px -4px var(--main-accent2-color);
}

#createRecipesFormLayout{
    height: 100%;
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

#crListText{
    margin-block:0;
    color:#1d475c;
    font-size:30px;
    min-height:50px;
    max-height:50px;
    margin:0 5px;
    padding:0;
}

#createRecipesFormDiv0{
    width: 100%;
    min-height: 90px;
    height: fit-content;
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#insideList{
    height: 100%;
    width: 85%;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

#buttonInsideList{
    height: 100%;
    width: 15%;
}

#createRecipesFormDiv1{
    margin: 15px auto 0 auto;
    width: 90%;
    height: 50px;
    column-gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.listInput{
    height:100% !important;
    border-radius: 25px;
}

#createRecipesButtonAdd{
    background-color: var(--main-accent2-color);
    background-image: url("../assets/plus.svg");
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    align-self: center;
}

#createRecipesButtonMinus{
    background-color: var(--main-accent2-color);
    background-image: url("../assets/minus.svg");
    padding: 0;
    margin: 0;
    border: none;
    height: 50px;
    width: 50px;
    max-width: 50px;
    min-width: 50px;
    max-height: 50px;
    min-height: 50px;
    border-radius: 50%;
}

#createRecipesButtonMinus:hover{
    opacity: 0.7;
}

#createRecipesButtonMinus:active{
    opacity: 0.5;
}

#createRecipesButtonAdd:hover{
    opacity: 0.7;
}

#createRecipesButtonAdd:active{
    opacity: 0.5;
}

#createRecipesTextInput::placeholder{
    color: var(--main-txt-color);
    opacity: 0.7;
}

#createRecipesTextInput:focus{
    outline: none;
}

#createRecipesTextInput{
    color: var(--main-txt-color);
    padding:0 10px;
    margin: 0 0;
    font-size: 15px;
    height: 50%;
    width: 80%;
    border: none;
    background-color: var(--main-accent-color);
}

#amountTypesInput{
    color: var(--main-txt-color);
    padding:0 10px;
    margin: 0 0;
    font-size: 15px;
    height: 50%;
    width: 20%;
    border: none;
    background-color: var(--main-accent-color);
}

#amountTypesInput::placeholder{
    color: var(--main-txt-color);
    opacity: 0.7;
}

#createRecipesRangeInput::-webkit-slider-runnable-track{
    height: 50%;
    border-radius: 20px;
    background: var(--main-accent-color);
}

#createRecipesRangeInput::-moz-range-track{
    background: var(--main-accent-color);
}

#createRecipesRangeInput::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    border-radius: 20px;
    margin-top: -7px;
    height: 1.5rem;
    width: 0.5rem;
    background-color: var(--main-txt-color);
}

#createRecipesRangeInput::-moz-range-thumb{
    -moz-appearance: none;
    appearance: none;
    border-radius: 20px;
    margin-top: -7px;
    height: 1.5rem;
    width: 0.5rem;
    background-color: var(--main-txt-color);
}

#createRecipesFormLabel{
    color: var(--main-txt-color);
    font-size: 20px;
}

#createRecipesRangeInput{
    height: 15%;
    margin: 0;
    padding: 0;
    width: 80%;
    -webkit-appearance: none;
    appearance: none;
    background: none;
    cursor: pointer;
}

#createRecipesTextArea{
    font-family: "Helvetica Neue", sans-serif;
    padding:10px 10px;
    color: var(--main-txt-color);
    font-size: 20px;
    margin: 0 0;
    resize: none;
    max-height: 80%;
    height: 80%;
    width: 80%;
    border: none;
    background-color: var(--main-accent-color);
}

#createRecipesTextArea::placeholder{
    color: var(--main-txt-color);
    opacity: 0.7;
}

#createRecipesTextArea:focus{
    outline: none;
}

#createRecipesButtonDiv{
    width: 100%;
    height: 100px;
}

#createRecipesCenterButtons{
    width: 30%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    column-gap: 20%;
    align-items: center;
    justify-content: center;
}

#createRecipesButton{
    padding: 10px 20px;
    margin: 0;
    border-radius: 35px;
    border: none;
    color: white;
    font-size: 20px;
    background-color: var(--main-accent-color);
}

#createRecipesButton:hover{
    opacity: 0.7;
    cursor: pointer;
}

#createRecipesButton:active{
    opacity: 0.5;
}

#createRecipesForm{
    width: 100%;
    height: 100%;
}

.container {
    margin-top: 20px;
    height: 500px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 5px;
    background-color: var(--main-accent2-color);
}

.header {
    flex: 1;
    width: 100%;
    border: 2px dashed var(--main-accent-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.header svg {
    height: 100px;
}

.header p {
    text-align: center;
    color: var(--main-accent-color);
}

.footer {
    background-color: var(--main-accent2-color);
    width: 100%;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--main-txt-color);
    border: none;
}

.footer svg {
    height: 130%;
    fill: var(--main-accent-color);
    background-color: var(--main-background-color);
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
}

.footer p {
    flex: 1;
    text-align: center;
}

.footer:hover{
    background-color: var(--main-background-color);
}

#file {
    display: none;
}
#createRecipesSubmitDiv{
    margin-top: 20px;
    align-self: center;
}
