#createRecipesLayout{
    border-radius: 45px;
    margin: 50px auto;
    height: fit-content;
    width: 95%;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    animation: fadeUp 2s;
    background: rgb(29,71,92);
    background: linear-gradient(0deg, rgba(29,71,92,1) 0%, rgba(1,121,111,1) 25%, rgba(1,121,111,1) 75%, rgba(29,71,92,1) 100%);
}

#createRecipesWave{
    margin-left: auto;
    margin-right: auto;
    height: 2200px;
    width: 90%;
    animation: fadeUp 2s;
}
#crWaveTop{
    background-image: url("../assets/wavetwo.svg");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color:var(--main-background-color);
    height: 17.5%;
    width: 100%;
    min-width: 100%;

}
#crWaveBottom{
    background-image: url("../assets/wavebottom.svg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color:var(--main-background-color);
    transform: scaleY(-1);
    width: 100%;
    min-width: 100%;
    height: 17.5%
}

#createRecipesForm{
    width: 100%;
    height: 100%;
}

#createRecipesLayoutLeft{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}
#createRecipesLayoutRight{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}

#crImgDiv{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px 0;
    height: fit-content;
    width: 100%;
    min-height: 100px;
    background-color: transparent;
    border-radius: 30px;
    align-items: center;
    justify-content: flex-start;
    row-gap: 25px;
}

#crButton{
    background-color: var(--main-accent2-color);
    color: var(--main-txt-color);
    font-size: 25px;
    border: none;
    border-radius: 30px;
    padding: 10px 45px;
    box-shadow: 0 8px 8px -4px var(--main-background-color);
}

#crButtonsDiv{
    width: 100%;
    border-radius: 30px;
    margin: 0 auto;
    height: 150px;
    flex-direction: row;
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

#crTitle{
    padding: 0;
    margin: 0;
    color: var(--main-txt-color);
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -1px;
}
#crButton:hover{
    opacity: 0.7;
}

#crButton:active{
    opacity: 0.5;
}