#csLayout {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
}

#cshead{
    height: 50px;
}
#cscards {
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    row-gap: 30px;
}

#csfrench,
#csitalian,
#csindian,
#csjapan,
#csamerican {
    margin: 10px; /* Adjust as needed */
    box-sizing: border-box;
}

#csparagraph {
    height: 50px;
}
