#homeLayout{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    animation: fadeUp 2s;
}

@keyframes fadeUp {
    from{
        opacity: 0;
        transform: translateY(60%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }

}


#panel1 {
    display: flex;
    flex-direction: row;
    margin: 50px auto;
    width: 80%;
    height: 600px;
    min-height: 600px;
    background-color: var(--main-accent2-color);
    border-radius: 30px;
}

#panelOnePicture{
    max-height: 500px;
    max-width: 350px;
    object-fit: contain;
    border-radius: 10%;
    box-shadow: 0 8px 20px -4px lightblue;
}

#panelTitleDiv{
    height: 100%;
    width: 60%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

#panelPictureDiv{
    height: 100%;
    width:40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#homeTitle{
    padding: 0;
    margin: 0;
    color: var(--main-txt-color);
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -2px;
}

#homeTitleTwo{
    padding: 0;
    margin: 0;
    color: var(--main-txt-color);
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2px;
}

#homeText{
    margin-right: auto;
    margin-left: auto;
    width:70%;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    color: var(--main-txt-color);
}

#visual{
    justify-self: flex-end;
}

#panel3{
    background-image: url("../assets/wavebottom.svg");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color:var(--main-txt-color);
    transform: scaleY(-1);

    width: 100%;
    min-height: 700px;

}

#panel2{
    width: 100%;
    min-height: 700px;
    background: rgb(29,71,92);
    background: linear-gradient(0deg, rgba(29,71,92,1) 0%, rgba(1,121,111,1) 50%, rgba(29,71,92,1) 100%);
}