#homepage{
    margin: 10px;
    width: 97%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #333333;
    border-radius: 25px;
}

.header{
    display: flex;
    flex-direction: row;
}

.header #headerText{
    width: 80%;
}

.header h2{
    text-align: center;
    width: 100%;
    color: white;
}

.header h6{
    padding: 0 0;
    margin: 0 0;
    font-size: 13px;
    font-family: "Helvetica Neue", sans-serif;
    white-space:nowrap;
}
.header button{
    border-radius: 12px;
    padding: 15px 30px;
    color: white;
    background-color: royalblue;
}

.header #loginButton{

    align-self: center;
}

.header #signOutButton{

    align-self: center;
}
