

#loginbutton{
    padding: 10px 30px;
    color: var(--main-txt-color);
    border-radius: 15px;
    border: 1px solid var(--main-txt-color);
    cursor: pointer;
    background-color:transparent;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 20px;
    opacity: 1;

}

#loginbutton:active{
    opacity: 0.7;
}

#loginbutton:hover{
    opacity: 0.7;
}