#logoutbutton{
    margin-left: 69%;
    border-radius: 25px;
    padding: 0 20px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #52B2Bf;
}

#logoutbutton:active{
 background-color: #48AAAD;
}

#logoutbutton:hover{
    background-color: #48AAAD ;
}