#mmobutton{
    border-radius: 25px;
    padding: 0;
    border: none;
    cursor: pointer;
    outline-offset: 4px;
    background-color: var(--main-txt2-color);
    margin-bottom: 15px;
}

#mmobutton:active{
    transform: translateY(-2px)
}

#mmobutton:hover #mmospan{
    transform: translateY(-7px);
}
#mmospan{
    display: block;
    padding: 15px 42px;
    border-radius: 25px;
    transform: translateY(-6px);
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: var(--main-txt-color);
}
