#mainmenuformat{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 250px;
}

.heading{
    background-color: var(--main-block-color);
    border-radius: 25px;
    border: 2px solid black;
    padding: 0;
    width: 100%;
    height: 10%;
}

.heading h2{
    text-align: center;
    width: 100%;
    font-size: 25px;
    color: var(--main-txt-color);
    margin: 0;
    padding-top: 10px;
}


#menuoptions{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--main-block-color);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 90%;
    border: 2px solid black;
}

#recipeOptions{
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: "Trebuchet MS",sans-serif;
}

#recipeOptionsText{
    margin: 0;
    padding: 0;
    color: var(--main-txt-color);
    text-align: center;
}
#createRecipe{

}

#viewRecipe{

}

