#navbarLayout{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    border-bottom: 2px solid #52B2Bf;
}

#navbarButton{
    color: #52B2Bf;
    font-size: 20px;
    font-weight: normal;
    background-color: white;
    border: none;
}

#navbarButton:hover{
    background-color: #52B2Bf;
    color: white;
}

#navbarButton:active{
    background-color: #48AAAD;
    color: white;
}

#profpic{
    background-size: cover;
    padding: 10px 22px;
    border-radius: 50%;
    border-width: 1px;
    border-color: #52B2Bf;
    border-style: solid;
}

#profpic:active{
    background-color: gray;
}

#profpic:hover{
    background-color: gray;
}