#navbarLayout{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom-color: var(--main-txt-color) ;
}

#menuIconButton:hover{
    opacity: 0.7;
}

#menuIconButton:active{
    opacity: 0.5;
}

#menuIconButton{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

#menuIconLabel{
    color: var(--main-txt-color);
    font-size: 25px;
    font-weight: Bold;
}

#menuIcon{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
}

#menuIconColor{
    fill: var(--main-txt-color);
}

#titlediv{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 24%;
    height:100%;
}

#title{
    cursor: default;
    margin: 0 0 0 0;
    padding: 0;
    font-size: 40px;
    font-weight: bold;
    color: var(--main-txt-color);
    font-family : 'sans-serif';
}

#navbarButtonsLayout{
    align-items: flex-end;
    margin-left: auto;
    margin-right: 10px;
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#navbarButton{
    color: var(--main-txt-color);
    font-size: 25px;
    font-weight: Bold;
    background-color: transparent;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: var(--main-txt-color);
    border-bottom-style: hidden;
    cursor: pointer;
    align-self: center;
    padding: 10px 15px;
    justify-self: flex-end;
}

#navbarButton:hover{
    border-bottom-style: solid;


}

#navbarButton:active{
    border-bottom-style: solid;

}

#profpic{
    background-size: cover;
    background-position: center;
    padding: 23px 25px;
    border-radius: 50%;
    border-width: 2px;
    border-color: var(--main-txt-color);
    border-style: solid;
    margin-left: 10px;
    cursor: pointer;
    align-self: center;

}

#profpic:active{
    opacity: 0.5;
}

#profpic:hover{
    opacity: 0.7;
}