#recipeInfoLayout{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}


#rilblock{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#rilbdiv{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
}

#rirblock{
    margin-right: 10px;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}

#rirbdiv{
    width: 100%;
    border-radius: 25px;
    background-color: var(--main-txt-color);
}

#rititle2{
    color: white;
}

#ritext2{
    color: white;
}