#recipecardbutton{
    padding: 0;
    margin: 0;
    height: fit-content;
    width: fit-content;
    border-radius: 25px;
    border: 2px solid var(--main-accent-color);
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 8px 20px -4px var(--main-accent2-color);
}

#recipecardbutton:hover{
    opacity: 0.7;
}

#recipecardbutton:active{
    opacity: 0.5;
}

#recipecardlayout{
    height: 250px;
    width: 220px;
}

#recipecardstars{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    width: 220px;
    height: 50px;
}

#recipecardname{
    font-size: 20px;
    padding: 15px;
    margin: 0;
    color: white;
}