#recipecardbutton{
    padding: 0;
    margin: 0;
    height: fit-content;
    width: fit-content;
    border-radius: 25px;
    border: 2px solid var(--main-accent-color);
    background-color: var(--main-background-color);
    box-shadow: 0 8px 20px -4px var(--main-accent2-color);
}

#recipecardbutton:hover{
    opacity: 0.7;
}

#recipecardimgdiv {
    width: 95%;
    height: 140px;
    min-height: 140px;
}

#recipecardimg {
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 25px;
}

#recipecardbutton:active{
    opacity: 0.5;
}

#recipecardlayout{
    height: 250px;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#recipecardrating{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    width: 220px;
    height: 50px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

#recipecardname{
    font-size: 20px;
    padding: 15px;
    margin: 0;
    color: white;
}

#recipecardnamediv{
    border-top: 2px solid var(--main-accent-color);
    width: 100%;
    height: 50px;
}

.range {
    position: relative;
    background-color: var(--main-txt-color);
    width: 80%;
    height: 0.5rem;
    border-radius: 0.25rem;
}

.range .fill {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-accent-color);
    width: 10%;
    height: 100%;
    border-radius: 0.25rem;
}