#tiFormDiv{
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    padding: 20px 0;
    width: 80%;
    height: 300px;
    min-height: 300px;
    background-color: #1d475c;
    border-radius: 30px;
    align-items: center;
    justify-content: flex-end;
}

#tiTitleDiv{
    width: 100%;
    height: 40%;
}

#tiTitle{
    padding: 0;
    margin: 0;
    color: var(--main-txt-color);
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -1px;
}

#inputFieldDiv{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
}

#tiInput{
    text-align: center;
    border-radius: 40px;
    border: none;
    box-shadow: 0 8px 8px -4px var(--main-background-color);
    width: 70%;
    height: 40%;
    font-size: 30px;
    outline: none;
}

#tiInput:hover{
    opacity: 0.7;
}
