#tiFormDiv{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: 100px;
    min-height: 100px;
    background-color: transparent;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
}



#tiTextArea{
    resize: none;
    border-radius: 25px;
    border: none;
    box-shadow: 0 8px 8px -4px var(--main-background-color);
    font-size: 20px;
    outline: transparent;
}

#tiTextArea::placeholder{
    font-family: inherit;
    font-weight: inherit;
}
#tiInput{
    text-align: center;
    border-radius: 25px;
    border: none;
    box-shadow: 0 8px 8px -4px var(--main-background-color);
    width: 90%;
    height: 50%;
    font-size: 20px;
    outline: transparent;
}

#tiInput:hover{
    opacity: 0.7;
}

.wrong{
    color:red;
}
