:root {
    --main-txt-color: white;
    --main-accent3-color: #BC544B;
    --main-accent2-color: #1d475c;
    --main-accent4-color: #01796F;
    --main-accent-color: #C80815;
    --main-background-color:#0d212b;
}

#appformat{
    width: 100vw;
    height: 100vh;
    background-color: var(--main-background-color);
    overflow: hidden;
}

@keyframes dropIn {
    from{
        opacity: 0;
        transform: translateY(-60%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }

}

#navbar{
    width: 100%;
    height: 8%;
    background: rgb(13,33,43);
    background: linear-gradient(90deg, rgba(13,33,43,1) 15%, rgba(29,71,92,1) 35%);
    animation: dropIn 2s;
    position: fixed;
}

#appmenu{
    height: 100%;
    width: 15%;
    position: fixed;
    transform: translateY(8%);
}

#routes{
    float: left;
    padding-top: 4%;
    height: 100%;
    width: 100%;
    animation: fadeUp 1s;
    overflow: auto;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: #1d475c;
}

::-webkit-scrollbar-thumb{
    background-color: #0d212b ;
    border-radius: 10px;
}
