:root {
    --main-txt-color: white;
    --main-accent2-color: #1d475c;
    --main-accent-color: #01796F;
    --main-background-color:#0d212b;
    font-size: 62.5%;
}

#appformat{
    width: 100vw;
    height: 100vh;
    background-color: var(--main-background-color);
    overflow: hidden;
}

@keyframes dropIn {
    from{
        opacity: 0;
        transform: translateY(-60%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }

}

#appmain{
    height: 93%;
    width: 100%;
    flex-direction: row;
    display: flex;
}

#navbar{
    width: 100%;
    height: 64px;
    background: rgb(13,33,43);
    /*background: linear-gradient(90deg, rgba(13,33,43,1) 15%, rgba(29,71,92,1) 35%);*/
    animation: dropIn 2s;
    position: sticky;
    top:0;
}

#appmenu{
    height: 100%;
    width: 15%;
}

#routes{
    height: 100%;
    width: 100%;
    animation: fadeUp 1s;
    overflow: auto;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: var(--main-accent2-color);
}

::-webkit-scrollbar-thumb{
    border: 1px solid var(--main-accent2-color);
    background-color: var(--main-background-color) ;
    border-radius: 10px;
}
